html {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

body {
  background-color: #11111b;
  display: inline;
  justify-content: center;
  align-items: center;
height: 100%;
width: 90%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border: solid 1px rgb(94, 94, 116);
  border-radius: 40px;
  margin: 2% 5%; 
  background-color: #27262b ;
 
}
.nav{

  
  
  
}
ul{ 
   display: flex;
  justify-content: space-around;
  font-size: 10px;  
}

li{
  cursor:pointer;
    margin: 10%;
    width: 15%;
  list-style:none;
  transition: 2s;
  display:flex;
  text-justify:distribute;
  align-items: center;
  font-family: "Balsamiq Sans", sans-serif;
font-weight: 100;
font-style: normal;
color: white; 
}
li:hover{
  background-color: white;
  color:#4743fb;
}

.branding {
  display: flex;
  height: 50%;  
}


p, h1
{
font-family: "Balsamiq Sans", sans-serif;
font-weight: 100;
font-style: normal;
color: white; 
}

.name {
  margin: 0px;
  font-size: 50px;
  padding: 2% 12%;
}

.pText {
  font-size: 20px;
  text-wrap:wrap;
  text-align:justify;  
  padding: 2% 12%;
  
}

i {
  font-family: FontAwesome;
  font-style: normal;

}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

.btn-mail {
  position: relative;
  z-index: 1;
  border-style: none;
  background-color: #ffffff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 2;
  translate: 300px 400px;
  transition: 5s;
  font-size: 150%;
  color: #4743fb;
}

main {}

.btn-mail:hover {

  background-color: #4743fb;
  font-size: 8;
  cursor: pointer;
  color: #ffe600;
}

.textHero{
display:flex;
justify-content: baseline;
border: solid 1px greenyellow;
  
  

}
.hero {
display: flex;
  justify-content:space-between;
  align-content: center;
  height: 80vh;
  /*border: solid 1px rgb(94, 94, 116);*/
  
   
}

.redes {
  display: flex;
  justify-content:space-around;
  padding: 0% 0%;
  width: 100%;
  height: 100px;
}

.wsp, .msj{
  background-color: #ffffff;
  color: #4743fb;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border:none;
  margin: 2px;
}

.ig,
.twitter,
.be,
.bbb  {
  color: white;
  height: 30px;
  width: 30px;
  background-color: #4743fb;
  border-style: none;
  border-radius: 100%;
  font-size: 15px;
}
.img {
  position: relative;  
  z-index: 1;
  width: 100%;
  height: 80%; 
   display:flex;
  justify-content: flex-end;
}

.imgHero{
  }



/*footer*/
footer {
  width: 100%;
  height: 400px;
  border: solid 5px yellowgreen;
  color: yellowgreen;
}


/*palabras entre lineas
#titulo {
  text-align: center;
}

h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
}

h2.linea {
  position: relative;
  z-index: 1;
}

h2.linea::before {
  border-top: 2px solid #ffe600;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h2.linea span {

  background: #887b7b;
  padding: 0 15px;
}
*/