:root {
  --hero-bg-color: #4743fb;
  --hero-text-color: white;
  --hero-font-family: "Balsamiq Sans", sans-serif;
}

html {
  background-color: #11111b;
}

body {
  width: 100%;
  margin: 0% auto;
  align-items: center;
  height: 100%;
}


/*header*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  border: solid 1px rgb(94, 94, 116);
  border-radius: 40px;
  margin: 2%;
  background-color: #27262b;

}


/*posisionamiento de marca*/
.branding {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;

}

h1,
.h1 {
  margin: 0px 0px;
  font-size: 15px;
}

.subTit {
  font-size: 10px;
  margin: 0px 0px;
}

.img-brand {
  height: 100%;
}

/*menu navegador deplegoda horizontalmente*/
.nav {
  display: flex;
  text-align: justify;
  color: white;

}

.btn-collapse {
  width: 80%;
  display: none;
}


.menu-collapse {
  display: none;
}




@media screen and (max-width: 850px) {
  .btn-collapse {
    background-color: transparent;
    border: solid 1px var(--hero-bg-color);
    border-radius: 20%;
    display: inline;
    height: 2%;
    font-size: 5px;
  }

  .btn-collapse:hover {
    display: inline;
    height: 10%;
    font-size: 100%;
    width: 100%;
    margin-top: 40%;
  }
}



a {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  margin: 2%;
  font-size: 15px;
  width: 100%;
  transition: 1s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border-radius: 20px;
  align-items: center;
}

a:hover {
  background-color: var(--hero-bg-color);
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;

}

/*botones telefono y mail al final del header*/
.wsp,
.msj {
  background-color: #ffffff;
  color: #4743fb;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  margin: 2px;
}


/*main*/
main {
  width: 100%;
}


p,
h1,
strong,
h3,
h2,
.tituloDesigner {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
}


/* hero*/
.name {
  margin: 0px;
  font-size: 70px;
  padding: 2% 12%;
}

/*leyenda del hero*/
.pText {
  font-size: 30px;
  text-wrap: wrap;
  text-align: justify;
  padding: 2% 12%;
}

/*iconos*/
i {
  font-family: FontAwesome;
  font-style: normal;
}

/*fuente de google fonts*/


/* bton flotante de mail*/

.btn-mail {

  position: relative;
  z-index: 1;
  border-style: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 2;
  translate: 60px 250px;
  font-size: 150%;
}

.btn-white {
  transition: 2s;
  font-family: FontAwesome;
  background-color: #ffffff;
  color: var(--hero-bg-color);
}


/*efecto del boton flotante*/
.btn-white:hover {
  background-color: var(--hero-bg-color);
  font-size: 8;
  color: white;
}

.btn {
  cursor: pointer;
}

/*texto del heroe*/

.textHero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border: solid 1px white;
  margin-right: 20px;
}

/*contenedor del heroe*/
.hero {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;

  height: 80vh;
  width: 100%;

  /*border: solid 1px rgb(94, 94, 116);*/


}

/*contenedor botones redes*/

.redes {
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
  width: 100%;
  height: 100px;
}



/*iconos de los botones de redes*/
.ig,
.twitter,
.be,
.bbb {
  color: white;
  height: 40px;
  width: 40px;
  background-color: var(--hero-bg-color);
  border-style: none;
  border-radius: 100%;
  font-size: 20px;
}

/*imagen del hero
.img{
  object-fit: cover;
  width:80%;
  height:80%;
  position: relative;  
  z-index: 1; 
   display:flex;
  
   
}
*/
/*contenedor de la imagen del hero*/
.imgHero {
  background-image: url('../img/pil_violet.svg');
  background-size: 300%;
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
  background-size: 100% 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}


/*seccion designer diseño*/
.designer {
  color: white;
  flex-direction: column;
  width: 80%;
  margin: 10% auto;
}

.tituloDesigner {
  text-align: center;
  font-size: 20px;
}

strong {
  color: var(--hero-bg-color);
  font-size: 30px;
}

.diseño {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0%;
  background-color: #27262b;
  align-items: center;
  border: solid 1px rgb(94, 94, 116);
  border-radius: 40px;
}


.pDiseño {
  width: 50%;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  width: 30%;
}

.flecha {
  height: 20px;
}

/*seccion educacion y experiencia*/

.edu-exp {
  background-color: #090828;
  width: 100%;
  padding: 2% 0%;
}

/*grid(red) educacion y experiencia ocn sus columnas abajo*/
#grid-eYe {
  font-family: var(--hero-font-family);
  display: grid;
  grid-template-areas:
    "edu exp";
  grid-template-rows: 100% 1fr 1fr 100%;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 80%;
}

div#edu {
  grid-area: edu;
}

div#exp {
  grid-area: exp;
}

/*contenedor de experieicnas*/
.cont-title-exp {
  display: flex;
  justify-content: start;
}

/*titulo educacion on icono*/
.titulo-edu,
.titulo-exp {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #46465d;
  height: 80px;
  width: 90%;
  display: flex;
  font-size: 20px;

}


.cont-title-edu {
  display: flex;
  justify-content: end;
}

/*seccion educación y experiencia*/
.edu {
  border-bottom: solid 1px #46465d;
  border-left: solid 1px #46465d;
  margin-left: 30px;
  width: 80%;
  color: #46465d;
  font-family: var(--hero-font-family);

}

.lin {
  border-left: solid 1px #46465d;

}

.exp {
  border-bottom: solid 1px #46465d;
  border-left: solid 1px #46465d;
  margin-left: 30px;
  width: 80%;
  color: #46465d;

}

.exp p {
  margin-top: 10px;

  width: 70%;
  color: #cbcdcd
}


.primer-contenedor {
  margin-top: 20px;
}

.ultimo-contenedor {

  border-bottom: none
}

.presente {

  color: var(--hero-bg-color);
}

.edu p {
  margin-left: 2%;
  width: 70%;
  color: #cbcdcd
}

.detalle {
  font-size: 10px;
  padding-bottom: 10%;
}

h4 {
  padding: 2%;
  border: solid 1px #8c8d94;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*circulos de timeline*/
.fa-circle {
  margin: -2%;
  width: 30px;
}



.eve-time-line {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;

}

.grid-eYe {
  color: #5f6071;
  background-color: #21203f;
  border: solid 1px #5f6071;
  border-radius: 10px;
  height: 100%;
  margin: 2% auto;
}

.fa-graduation-cap,
.fa-briefcase {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0px 10px;
  background-color: var(--hero-bg-color);
  border-radius: 100%;
  color: white;
}

/*skills*/
.skills {
  text-wrap: wrap;
  text-align: center;
  background-color: #13121c;
  padding: 5%;
}

.skills p {
  margin: 0% 20% 3%;

  align-items: center;
}

.box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: #2f2f47;
  width: 140px;
  height: 140px;
  padding: 0% 0% 0% 0%;
  border-radius: 10%;
  border-color: #33343b;
  border-width: 1px;
  border-style: outset;
}

.item-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;


}

.cont-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.icono {
  height: 60px;
  width: 60px;

}

.bar {
  margin: 20% 0% 0% 0%;
  background-color: #444355;
  border-radius: 100px;
  width: 100%;
}

.relleno {
  display: flex;
  align-items: center;
  font-size: 5px;
  border-radius: 100px;
  background-color: #4743fb;
  width: 90%;
}

.relleno p {
  margin: 0% 20% 3%;
  font-size: 8px;
  margin-top: 5px;
  padding: 1px;
  align-items: center;
  margin-left: 10%;
}

/*zona works*/
.works {
  text-wrap: wrap;
  text-align: center;
  background-color: #13121c;
  padding: 5%;
}

.works h2 {
  font-size: 20px;
}

.works p {
  margin: 0% 20% 3%;
  align-items: center;
}

.items-works {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  background-color: #27262b;
  align-items: center;
  border: solid 1px rgb(94, 94, 116);
  border-radius: 40px;
}

.items-works a {
  display: flex;
  justify-content: center;
  color: #d7d8de;
  align-items: center;

  border-radius: 20px;
  width: 20%;
  height: 100%;
  font-size: 20px;
}

.items-works a:hover {
  background-color: #4743fb;
  border-color: transparent;
  transition: 1s;
}

#ejemplos {

  display: grid;
  grid-template-areas:
    "col1 col2";
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 75px;
  grid-template-columns: 0% auto 15%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  margin: 0;

}


div#col1 {
  grid-area: col1;
}

div#col2 {
  grid-area: col2;
}

.img-eje {

  height: 40%;
  width: 40%;
  margin: 5px;
}

/*about me*/

.intro-about h3 {
  text-wrap: wrap;
  text-align: center;
  padding: 5%;
}

.works p {
  margin: 0% 20% 3%;

  align-items: center;
}

.aboutMe {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;

  height: 100%;
}

.fo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 10px;
  border-color: #33343b;
  border-width: 1px;
  border-style: outset;
  background-color: #272727;
  width: 80vh;
  height: 100vh;
  margin-left: 10%;

}

.ia {
  color: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0% 2%;
}

.ia h3 {
  color: #d6d6d6;
  width: 110%;
  font-size: 150%;

}

.ia p {
  color: #d6d6d6;
  font-size: 100%;
}

#fo {
  background-color: #2f2f47;
  display: grid;
  grid-template-areas:
    "ia ia"
    "fn ln"
    "ea pn"
    "cs cs"
    "ym ym"
    "bt";
  grid-template-rows: 10px 1fr 1fr 10px;
  grid-template-columns: 100% auto 15%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}



div#bt {
  grid-area: bt;
}

div#ia {
  grid-area: ia;
}

div#ea {
  grid-area: ea;
}

div#pn {
  grid-area: pn;
}


div#cs {
  grid-area: cs;
}

div#ym {
  grid-area: ym;
}


div#fn {
  grid-area: fn;
}

div#ln {
  grid-area: ln;
}

.ln,
.fn,
.ym,
.pn,
.ea,
.cs,
.bt {
  background-color: #101010;
  border-radius: 5px;
  color: #979797;
  margin: 2%;
  border: none;
}

.ln,
.fn,
.pn,
.ea,
.cs,
.bt {
  height: 8%;
  width: 44%;
}

.bt {
  background-color: #4743fb;
  color: white;
  border-radius: 10px;
}

.ym {
  text-align: center;
  height: 20%;
}


.cs,
.ia,
.ym {
  width: 95%;

}

/*iconos contacto about me*/

.material-symbols-outlined {
  color: #fffeff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0px 10px;
  background-color: var(--hero-bg-color);
  border-radius: 100%;
}

/*columna contactos*/

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 10%;


}

.contact p {
  color: #c7c7c7;
  font-size: 70%;
}

.contact span {
  text-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 40px
}




.contact-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  width: 80vh;
  height: 100vh;


}

.contact strong {
  font-size: 110%;
  color: #cbcbcb;
}

.isologotipo {
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin: 5% 0%;
  width: 100%;
  height: 40px;
}

footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #222222;
  padding: 2%;
}

footer p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.fa-copyright {
  color: white;
  margin: 5px;
}

.copyright {
  display: flex;
  align-items: center
}

.nav-footer {
  display: flex;

  text-align: justify;
  color: white;
  font-size: 10px;
}

.nav-footer a {
  width: 100px;
  display: inline-block;
}

@media screen and (max-width:320px) {

  .nav-footer {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 5px;
  }

  footer {
    flex-wrap: nowrap;
    flex-direction: row-reverse;


  }

  .contact-about {
    justify-content: center;
    width: 50vh;
  }

  .contact {
    margin: 10% 0%;
  }

  .fo {
    width: 80%;
    margin: 0% auto;
  }

  .items-works a {
    font-size: 2px;
  }

  .nav-footer {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 5px;
    justify-content: space-evenly;
  }
}

@media(max-width:480px) {

  .hero {
    flex-basis: 100%;
  }

  .imgHero {
    display: none;
  }

  .contact-about {
    justify-content: center;
    width: 90vh;
  }

  .fo {
    width: 90vh;
  }

  .contact {
    margin: 10% 0%;
  }

  footer {
    flex-wrap: nowrap;
    flex-direction: row-reverse;


  }

  .nav-footer {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 5px;

  }
}

@media screen and (max-width: 768px) {


  .imgHero {
    display: flex;
    width: 400px;
  }

  .btn-mail {
    translate: 70px 150px;
    width: 50px;
    height: 50px;
  }

  .ig,
  .twitter,
  .be,
  .bbb {
    font-size: 12px;
    height: 30px;
    width: 30px;
  }


  .nav,
  .wsp,
  .msj,
  .ejemplos, .lin {
    display: none;
  }

  .h1 {
    font-size: 1em;
    margin: 0em 0;
  }

  .name {
    font-size: 40px;
  }

  .pText {
    font-size: 10px;
  }


  .nav-footer {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 5px;

  }


 
 
 

   
 

  
}


@media(max-width:1824px) {}

@media(max-width:1280px) {}

@media(max-width:1440px) {}

@media(max-width:1920px) {}

/*palabras entre lineas
#titulo {
  text-align: center;
}

h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
}

h2.linea {
  position: relative;
  z-index: 1;
}

h2.linea::before {
  border-top: 2px solid #ffe600;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h2.linea span {

  background: #887b7b;
  padding: 0 15px;
}
*/